/*general specification*/
.head-txt{
    color: #9DAABE;
}
.bg-c{
    background-color: #212936;
}
.web-text{
    color: #56657F;
}

body{
    background-color: #56657F;
}

.grid-container{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
}
.aaron{
    grid-row: 1 / span 5;
    grid-column: 1 / span 2;
}
.four-box1{
    margin-top: 15px;
}
.four-box2{
    margin-top: 15px;
}
.four-box3{
    margin-top: 15px;
}
.four-box4{
    margin-top: 15px;
}
.may{
    grid-row: 1 / span 2;
    grid-column: 7/9;
}
.activity{
    grid-row: 3 / span 1;
    grid-column: 7/9;
}
.sales{
    grid-row: 2 / span 2;
    grid-column: 3 / span 4;
}
.new{
    grid-row: 4 / span 2;
    grid-column: 3 / span 2;
}
.top-state{
    grid-row: 4/-1;
    grid-column: 5/-1;
}


/*Aaron section*/
.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.gen-pad{
    padding: 0 10px 5px 10px;
}
.aaron-and-font{
    display: flex;
}
.aaron-and-font-align{
    margin: auto 0;
}
.img-div{
    padding: 15px 0 10px 0;
}
.aaron-items{
    padding: 10px 0;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1;
    border-top: 1px solid #56657F;
}
.a-span{
    margin-right: 30px;
}
.h-effect:hover{
    color: #1976D2;
    background-color: #2B3648;
}
.my-set{
    padding: 5px 0 20px 0;
}


/*four box section*/
.four{
    text-align: center;
}
.four:hover{
    background-color: #1976D2;
    color: white;
}
.f-div{
    padding-top: 35px;
}
.my-h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.my-p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/*new section*/
.img-div{
    display: flex;
}
.push{
    margin-left: auto;
}
.two-p{
    margin-left: 15px;
}


/*activity section*/
.act-head{
    text-align: center;
}


/*may section*/
.use-as-bg{
    width: 100%;
    height: 100%;
    border-radius: 0px;
}


